In [193]:
import pandas as pd

# warehouse file

In [194]:
df_warehouse=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\INPUT_DATA_FILE\6134 data file.xlsx")
df_warehouse.to_csv("warehouse_data.csv",index=False)

warehouse_Data = pd.read_csv("C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\METER_MATCHING_DATA\warehouse_data.csv")

warehouse_Data.shape

(6134, 7)

In [195]:
warehouse_Data.head(1)

,Meter No.,PHASE,WAREHOUSE_UTILITY,IME,FINAL SIM,IMSI,IP
0,GP5028887,1 Phase,SBPDCL,869912031946482,8991759065212004194,404751250004194,fd00:0000:0800:CCDA:0000:0000:0000:0001

In [196]:
# changes in dataset like :- UPPER, SPACE REMOVAL , DATATYPE

warehouse_Data = warehouse_Data.astype(str)
warehouse_Data.columns = warehouse_Data.columns.str.upper()
warehouse_Data = warehouse_Data.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
warehouse_Data.columns = warehouse_Data.columns.str.strip()

In [197]:

# Custom function to update meter numbers
def update_meter_number(meter_number):
    if meter_number.startswith('GP') or meter_number.startswith('GL'):
        return 'GOE' + meter_number
    elif meter_number.startswith('LT'):
        return 'LNT' + meter_number
    else:
        return meter_number

# Apply the custom function to each element in the 'METER NO.' column
warehouse_Data['NEW_METER_NUMBER'] = warehouse_Data['METER NO.'].apply(update_meter_number)

In [198]:
warehouse_Data_NB  = warehouse_Data[warehouse_Data['WAREHOUSE_UTILITY']=='NBPDCL']
warehouse_Data_SB  = warehouse_Data[warehouse_Data['WAREHOUSE_UTILITY']=='SBPDCL']

# assest file

In [199]:
assest_initiation_invent_sb = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\INPUT_DATA_FILE\ASSET_INITIATION_INVENTORY_SB.CSV")
assest_initiation_invent_nb = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\INPUT_DATA_FILE\ASSET_INITIATION_INVENTORY_NB.CSV")

In [200]:
warehouse_Data = warehouse_Data.astype(str)
assest_initiation_invent_nb = assest_initiation_invent_nb.astype(str)
assest_initiation_invent_sb = assest_initiation_invent_sb.astype(str)



# change column name into upper string

warehouse_Data.columns = warehouse_Data.columns.str.upper()
assest_initiation_invent_nb.columns = assest_initiation_invent_nb.columns.str.upper()
assest_initiation_invent_sb.columns = assest_initiation_invent_sb.columns.str.upper()



# Remove leading and trailing whitespaces from all columns where dtype is 'O'

warehouse_Data = warehouse_Data.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
assest_initiation_invent_nb = assest_initiation_invent_nb.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
assest_initiation_invent_sb = assest_initiation_invent_sb.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)



# strip the spaces in column 

warehouse_Data.columns = warehouse_Data.columns.str.strip()
assest_initiation_invent_nb.columns = assest_initiation_invent_nb.columns.str.strip()
assest_initiation_invent_sb.columns = assest_initiation_invent_sb.columns.str.strip()

In [201]:
warehouse_Data_NB.shape

(3531, 8)

In [202]:
warehouse_Data_SB.shape

(2603, 8)

# working on data

In [203]:
warehouse_Data_NB.head(1)

,METER NO.,PHASE,WAREHOUSE_UTILITY,IME,FINAL SIM,IMSI,IP,NEW_METER_NUMBER
2603,LT0346339,1 Phase,NBPDCL,865681060086437,8991856050706502419,405856706497419,2405:0203:0527:0696:0000:0000:0000:0010,LNTLT0346339

In [204]:
warehouse_Data_SB.head(1)

,METER NO.,PHASE,WAREHOUSE_UTILITY,IME,FINAL SIM,IMSI,IP,NEW_METER_NUMBER
0,GP5028887,1 Phase,SBPDCL,869912031946482,8991759065212004194,404751250004194,fd00:0000:0800:CCDA:0000:0000:0000:0001,GOEGP5028887

In [205]:
assest_initiation_invent_nb.head(2)

,METERNUMBER,MFG_SERIAL_NUM,UDC_ID,NETWORK_ID,INSTALLATIONNUMBER,STATUS,INSERT_TIME,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"
0,GOEGP4968974,GP4968974,404759210464692,2001:4490:0800:6073:0000:0000:0000:0001,MUZW-2290805636,Retired,9/2/2019 1:07:37 AM,NBPDCL
1,GOEGP4881969,GP4881969,404751250450510,2001:4490:0800:A41A:0000:0000:0000:0001,DALGND-816,Installed,9/9/2019 1:01:27 AM,NBPDCL

# merge

In [206]:
MERGE_WAREHOUSE_ASSET_NB=pd.merge(warehouse_Data_NB,assest_initiation_invent_nb[['METERNUMBER','UDC_ID','NETWORK_ID','STATUS']],left_on=['NEW_METER_NUMBER','IMSI','IP'],right_on=['METERNUMBER','UDC_ID','NETWORK_ID'],how ='left')

MERGE_WAREHOUSE_ASSET_SB=pd.merge(warehouse_Data_SB,assest_initiation_invent_sb[['METERNUMBER','UDC_ID','NETWORK_ID','STATUS']],left_on=['NEW_METER_NUMBER','IMSI','IP'],right_on=['METERNUMBER','UDC_ID','NETWORK_ID'],how ='left')

In [207]:
MERGE_WAREHOUSE_ASSET_NB.head(1)

,METER NO.,PHASE,WAREHOUSE_UTILITY,IME,FINAL SIM,IMSI,IP,NEW_METER_NUMBER,METERNUMBER,UDC_ID,NETWORK_ID,STATUS
0,LT0346339,1 Phase,NBPDCL,865681060086437,8991856050706502419,405856706497419,2405:0203:0527:0696:0000:0000:0000:0010,LNTLT0346339,NaN,NaN,NaN,NaN

In [208]:
MERGE_WAREHOUSE_ASSET_SB.head(1)

,METER NO.,PHASE,WAREHOUSE_UTILITY,IME,FINAL SIM,IMSI,IP,NEW_METER_NUMBER,METERNUMBER,UDC_ID,NETWORK_ID,STATUS
0,GP5028887,1 Phase,SBPDCL,869912031946482,8991759065212004194,404751250004194,fd00:0000:0800:CCDA:0000:0000:0000:0001,GOEGP5028887,NaN,NaN,NaN,NaN

In [209]:
MERGE_WAREHOUSE_ASSET_NB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OUTPUT_FILE_DATA_MODIFICATION\MERGE_WAREHOUSE_ASSET_NB.csv")
MERGE_WAREHOUSE_ASSET_SB.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OUTPUT_FILE_DATA_MODIFICATION\MERGE_WAREHOUSE_ASSET_SB.csv")

In [210]:
MERGE_WAREHOUSE_ASSET_NB['STATUS'].unique()

array([nan, 'Installed', 'Meter Shop', 'Refurbished', 'Retired'],
      dtype=object)

In [211]:
MERGE_WAREHOUSE_ASSET_SB['STATUS'].unique()

array([nan, 'Meter Shop', 'Refurbished', 'Installed', 'Retired'],
      dtype=object)

# refurbished and meter soap

In [212]:
MERGE_WAREHOUSE_ASSET_NB_REFUR_METER_SOAP = MERGE_WAREHOUSE_ASSET_NB[(MERGE_WAREHOUSE_ASSET_NB['STATUS'] == 'Meter Shop') |  (MERGE_WAREHOUSE_ASSET_NB['STATUS'] == 'Refurbished')]

MERGE_WAREHOUSE_ASSET_SB_REFUR_METER_SOAP = MERGE_WAREHOUSE_ASSET_SB[(MERGE_WAREHOUSE_ASSET_SB['STATUS'] == 'Meter Shop') |  (MERGE_WAREHOUSE_ASSET_SB['STATUS'] == 'Refurbished')]

In [213]:
MERGE_WAREHOUSE_ASSET_NB_REFUR_METER_SOAP['STATUS'].unique()

array(['Meter Shop', 'Refurbished'], dtype=object)

In [214]:
MERGE_WAREHOUSE_ASSET_SB_REFUR_METER_SOAP['STATUS'].unique()

array(['Meter Shop', 'Refurbished'], dtype=object)

In [215]:
MERGE_WAREHOUSE_ASSET_NB_REFUR_METER_SOAP.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OUTPUT_FILE_DATA_MODIFICATION\MERGE_WAREHOUSE_ASSET_NB_REFUR_METER_SOAP.csv")
MERGE_WAREHOUSE_ASSET_SB_REFUR_METER_SOAP.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OUTPUT_FILE_DATA_MODIFICATION\MERGE_WAREHOUSE_ASSET_SB_REFUR_METER_SOAP.csv")

In [216]:
fda  adsf

SyntaxError: invalid syntax (640615653.py, line 1)

In [ ]:
MERGE_WAREHOUSE_ASSET_NB_WITHOUT_REFUR_METER_SOAP = MERGE_WAREHOUSE_ASSET_NB[(MERGE_WAREHOUSE_ASSET_NB['STATUS'] != 'Meter Shop') &  (MERGE_WAREHOUSE_ASSET_NB['STATUS'] != 'Refurbished')]

MERGE_WAREHOUSE_ASSET_SB_WITHOUT_REFUR_METER_SOAP = MERGE_WAREHOUSE_ASSET_SB[(MERGE_WAREHOUSE_ASSET_SB['STATUS'] != 'Meter Shop') &  (MERGE_WAREHOUSE_ASSET_SB['STATUS'] != 'Refurbished')]

In [ ]:
MERGE_WAREHOUSE_ASSET_NB_WITHOUT_REFUR_METER_SOAP.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OUTPUT_FILE_DATA_MODIFICATION\MERGE_WAREHOUSE_ASSET_NB_WITHOUT_REFUR_METER_SOAP.csv",index=False)
MERGE_WAREHOUSE_ASSET_SB_WITHOUT_REFUR_METER_SOAP.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OUTPUT_FILE_DATA_MODIFICATION\MERGE_WAREHOUSE_ASSET_SB_WITHOUT_REFUR_METER_SOAP.csv",index=False)

In [ ]:
MERGE_WAREHOUSE_ASSET_SB_WITHOUT_REFUR_METER_SOAP.shape

(1255, 12)

In [ ]:
MERGE_WAREHOUSE_ASSET_NB_WITHOUT_REFUR_METER_SOAP.shape

(2465, 12)

In [ ]:
1255 +2465

3720

In [ ]:
MERGE_WAREHOUSE_ASSET_NB_SB_WITHOUT_REFUR_METER_SOAP = pd.concat([MERGE_WAREHOUSE_ASSET_NB_WITHOUT_REFUR_METER_SOAP,MERGE_WAREHOUSE_ASSET_SB_WITHOUT_REFUR_METER_SOAP], ignore_index=True)

In [ ]:
MERGE_WAREHOUSE_ASSET_NB_SB_WITHOUT_REFUR_METER_SOAP.head(1)

,METER NO.,PHASE,WAREHOUSE_UTILITY,IME,FINAL SIM,IMSI,IP,NEW_METER_NUMBER,METERNUMBER,UDC_ID,NETWORK_ID,STATUS
0,LT0346339,1 Phase,NBPDCL,865681060086437,8991856050706502419,405856706497419,2405:0203:0527:0696:0000:0000:0000:0010,LNTLT0346339,NaN,NaN,NaN,NaN

In [ ]:
MERGE_WAREHOUSE_ASSET_NB_SB_WITHOUT_REFUR_METER_SOAP.drop(['NEW_METER_NUMBER','METERNUMBER','UDC_ID','NETWORK_ID','STATUS'], axis=1, inplace=True)

In [ ]:
MERGE_WAREHOUSE_ASSET_NB_SB_WITHOUT_REFUR_METER_SOAP.shape

(3720, 7)

In [ ]:
WAREHOUSE_DATA_FILE = MERGE_WAREHOUSE_ASSET_NB_SB_WITHOUT_REFUR_METER_SOAP

In [ ]:
WAREHOUSE_DATA_FILE.head()

,METER NO.,PHASE,WAREHOUSE_UTILITY,IME,FINAL SIM,IMSI,IP
0,LT0346339,1 Phase,NBPDCL,865681060086437,8991856050706502419,405856706497419,2405:0203:0527:0696:0000:0000:0000:0010
1,LT0347039,1 Phase,NBPDCL,869810056010897,8991856050706376051,405856706376051,2405:0203:0525:5541:0000:0000:0000:0010
2,LT0048504,1 Phase,NBPDCL,861089054495479,8991856050706213290,405856706213290,2405:0203:0520:B587:0000:0000:0000:0010
3,LT0391803,1 Phase,NBPDCL,865575064589372,8991856040706681880,405856707226888,2405:0203:052E:12C5:0000:0000:0000:0010
4,LT0509672,1 Phase,NBPDCL,865575064710895,8991856040706026298,405856706571320,2405:0203:0527:83A9:0000:0000:0000:0010

In [ ]:
WAREHOUSE_DATA_FILE.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OUTPUT_FILE_DATA_MODIFICATION\WAREHOUSE_DATA_FILE.csv")