In [19]:
import pandas   as pd

In [20]:
ASSET_FILE_SB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\INPUT_DATA_FILE\ASSET_INITIATION_INVENTORY_SB.csv")
ASSET_FILE_NB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\INPUT_DATA_FILE\ASSET_INITIATION_INVENTORY_NB.csv")

In [21]:
METER_STATUS_DATA=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\INPUT_DATA_FILE\WAREHOUSE_DATA_FILE.xlsx")
#REFURBISHED_732_METER=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OTHER_FILE\732 Refurbished  Meters Genus 4G and L&T HES Mapping  NBPDCL &  SBPDCL  AS ON 19 March 2024.xlsx")

METER_STATUS_DATA.to_csv("METER_STATUS_DATA.csv",index=False)
#REFURBISHED_732_METER.to_csv("REFURBISHED_732_METER.csv",index=False)

METER_STATUS_DATA = pd.read_csv("C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\METER_MATCHING_DATA\METER_STATUS_DATA.csv")
#REFURBISHED_732_METER = pd.read_csv("C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\METER_MATCHING_DATA\REFURBISHED_732_METER.csv")

#warehouse_Data = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\INPUT_DATA_FILE\WAREHOUSE_DATA_FILE.csv")

In [22]:
METER_STATUS_DATA.head(1)

,Meter No.,PHASE,WAREHOUSE_UTILITY,IME,FINAL SIM,IMSI,IP,TYPE,Remarks
0,LT0346339,1 Phase,NBPDCL,865681060086437,8991856050706502419,405856706497419,2405:0203:0527:0696:0000:0000:0000:0010,Refurbished,NOT MAP IN HES

In [23]:
NB_SB_ASSET_COMBINED_DATAFRAME = pd.concat([ASSET_FILE_SB, ASSET_FILE_NB], ignore_index=True)

In [24]:
NB_SB_ASSET_COMBINED_DATAFRAME.head(1)

,MeterNumber,MFG_SERIAL_NUM,UDC_ID,NETWORK_ID,InstallationNumber,Status,INSERT_TIME,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"
0,GOEGP4970294,GP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,NaN,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL

In [25]:
NB_SB_ASSET_COMBINED_DATAFRAME.head(1)

,MeterNumber,MFG_SERIAL_NUM,UDC_ID,NETWORK_ID,InstallationNumber,Status,INSERT_TIME,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"
0,GOEGP4970294,GP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,NaN,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL

In [26]:
METER_STATUS_DATA =pd.merge(METER_STATUS_DATA, NB_SB_ASSET_COMBINED_DATAFRAME[['MFG_SERIAL_NUM',"UDC_ID","InstallationNumber","Status","DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"]], left_on=['Meter No.'], right_on=['MFG_SERIAL_NUM'], how='left')

In [27]:
METER_STATUS_DATA.head()

,Meter No.,PHASE,WAREHOUSE_UTILITY,IME,FINAL SIM,IMSI,IP,TYPE,Remarks,MFG_SERIAL_NUM,UDC_ID,InstallationNumber,Status,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"
0,LT0346339,1 Phase,NBPDCL,865681060086437,8991856050706502419,405856706497419,2405:0203:0527:0696:0000:0000:0000:0010,Refurbished,NOT MAP IN HES,LT0346339,405856706377848,5000235857,Installed,SBPDCL
1,LT0347039,1 Phase,NBPDCL,869810056010897,8991856050706376051,405856706376051,2405:0203:0525:5541:0000:0000:0000:0010,Refurbished,NOT MAP IN HES,LT0347039,405856706376051,5003804032,Installed,SBPDCL
2,LT0048504,1 Phase,NBPDCL,861089054495479,8991856050706213290,405856706213290,2405:0203:0520:B587:0000:0000:0000:0010,Refurbished,NOT MAP IN HES,LT0048504,405856706213290,5002999071,Installed,SBPDCL
3,LT0391803,1 Phase,NBPDCL,865575064589372,8991856040706681880,405856707226888,2405:0203:052E:12C5:0000:0000:0000:0010,Refurbished,NOT MAP IN HES,LT0391803,405856706806066,5000596195,Installed,SBPDCL
4,LT0509672,1 Phase,NBPDCL,865575064710895,8991856040706026298,405856706571320,2405:0203:0527:83A9:0000:0000:0000:0010,Refurbished,NOT MAP IN HES,LT0509672,405856706577331,5001532140,Retired,SBPDCL

In [28]:
# adding duplicate and unique in data set 

METER_STATUS_DATA['Duplicated'] = METER_STATUS_DATA.duplicated(subset=['Meter No.']).map({True: 'Duplicated', False: 'Unique'})

In [29]:
#meter_no_732 =pd.merge(REFURBISHED_732_METER, NB_SB_ASSET_COMBINED_DATAFRAME[['MFG_SERIAL_NUM',"UDC_ID","InstallationNumber","Status","DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"]], left_on=['METER NO'], right_on=['MFG_SERIAL_NUM'], how='left')

In [30]:
METER_STATUS_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OTHER_FILE\METER_STATUS_DATA.csv",index=False)
#meter_no_732.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OTHER_FILE\meter_no_732.csv",index=False)