In [26]:
import pandas   as pd

In [27]:
ASSET_FILE_SB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\INPUT_DATA_FILE\ASSET_INITIATION_INVENTORY_SB.csv")
ASSET_FILE_NB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\INPUT_DATA_FILE\ASSET_INITIATION_INVENTORY_NB.csv")

In [28]:
METER_1126_DATA=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\INPUT_DATA_FILE\WAREHOUSE_DATA_FILE.xlsx")
#REFURBISHED_732_METER=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OTHER_FILE\732 Refurbished  Meters Genus 4G and L&T HES Mapping  NBPDCL &  SBPDCL  AS ON 19 March 2024.xlsx")

METER_1126_DATA.to_csv("METER_1126_DATA.csv",index=False)
#REFURBISHED_732_METER.to_csv("REFURBISHED_732_METER.csv",index=False)

METER_1126_DATA = pd.read_csv("C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\METER_MATCHING_DATA\METER_1126_DATA.csv")
#REFURBISHED_732_METER = pd.read_csv("C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\METER_MATCHING_DATA\REFURBISHED_732_METER.csv")

#warehouse_Data = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\INPUT_DATA_FILE\WAREHOUSE_DATA_FILE.csv")

In [29]:
METER_1126_DATA.head(1)

,sl no,Meter No.,Phase,WAREHOUSE_UTILITY,WAREHOUSE_STATUS,MAKE,IME,FINAL SIM,IMSI,IP
0,1,LT0164550,1 Phase,SBPDCL,S2S repaired,L&T,861190055985524,8991856050706095561,405856706095561,2405:0203:0522:9F13:0000:0000:0000:0010

In [30]:
NB_SB_ASSET_COMBINED_DATAFRAME = pd.concat([ASSET_FILE_SB, ASSET_FILE_NB], ignore_index=True)

In [31]:
NB_SB_ASSET_COMBINED_DATAFRAME.head(1)

,MeterNumber,MFG_SERIAL_NUM,UDC_ID,NETWORK_ID,InstallationNumber,Status,INSERT_TIME,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"
0,GOEGP4970294,GP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,NaN,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL

In [32]:
NB_SB_ASSET_COMBINED_DATAFRAME.head(1)

,MeterNumber,MFG_SERIAL_NUM,UDC_ID,NETWORK_ID,InstallationNumber,Status,INSERT_TIME,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"
0,GOEGP4970294,GP4970294,404759210464358,2001:4490:0800:5F25:0000:0000:0000:0001,NaN,Meter Shop,8/7/2019 1:26:44 PM,SBPDCL

In [33]:
meter_no_1126 =pd.merge(METER_1126_DATA, NB_SB_ASSET_COMBINED_DATAFRAME[['MFG_SERIAL_NUM',"UDC_ID","InstallationNumber","Status","DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"]], left_on=['Meter No.'], right_on=['MFG_SERIAL_NUM'], how='left')

In [34]:
meter_no_1126.head()

,sl no,Meter No.,Phase,WAREHOUSE_UTILITY,WAREHOUSE_STATUS,MAKE,IME,FINAL SIM,IMSI,IP,MFG_SERIAL_NUM,UDC_ID,InstallationNumber,Status,"DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"
0,1,LT0164550,1 Phase,SBPDCL,S2S repaired,L&T,861190055985524,8991856050706095561,405856706095561,2405:0203:0522:9F13:0000:0000:0000:0010,LT0164550,405856706095561,5002548022,Refurbished,SBPDCL
1,2,LT0364314,1 Phase,NBPDCL,S2S repaired,L&T,861996077248679,8991856050706402335,405856706402335,2405:0203:0525:C6A1:0000:0000:0000:0010,LT0364314,405856706402335,5002884613,Refurbished,NBPDCL
2,3,LT1027418,1 Phase,NBPDCL,S2S repaired,L&T,861996077250907,8991856040706794444,405856707339447,2405:0203:0530:EE5B:0000:0000:0000:0010,LT1027418,405856707339447,5001586266,Refurbished,NBPDCL
3,4,LT0867140,1 Phase,NBPDCL,S2S repaired,L&T,861996077245535,8991856040706512797,405856707057806,2405:0203:052E:272C:0000:0000:0000:0010,LT0867140,405856707057806,5000695843,Refurbished,NBPDCL
4,5,LT1027870,1 Phase,NBPDCL,S2S repaired,L&T,861996077262944,8991856040706553957,405856707098966,2405:0203:0530:F01F:0000:0000:0000:0010,LT1027870,405856707098966,5001564227,Refurbished,NBPDCL

In [35]:
# adding duplicate and unique in data set 

meter_no_1126['Duplicated'] = meter_no_1126.duplicated(subset=['Meter No.']).map({True: 'Duplicated', False: 'Unique'})

In [ ]:
#meter_no_732 =pd.merge(REFURBISHED_732_METER, NB_SB_ASSET_COMBINED_DATAFRAME[['MFG_SERIAL_NUM',"UDC_ID","InstallationNumber","Status","DECODE(D.ORG_ID,52,'SBPDCL',102,'NBPDCL')"]], left_on=['METER NO'], right_on=['MFG_SERIAL_NUM'], how='left')

In [ ]:
meter_no_1126.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OTHER_FILE\meter_no_1126.csv",index=False)
#meter_no_732.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\METER_IMPORTATION_FOLDER\OTHER_FILE\meter_no_732.csv",index=False)